.password-bread {
  padding-top: 10px;
  margin-left: -15px;
}
.password-bread1 a {
  color: black !important;
  text-decoration: none;
}

.password {
  position: relative;
  left: 25px;
  /* background-color: white; */
  width: 1250px !important;
  height: 500px;
}
.password-content1 {
  font-size: 16px;
  font-weight: 500;
}
.password-icon {
  margin-top: -10px;
}

.password-info {
  background-color: white;
  width: 960px;
}
