.account-bread{
  padding-top: 10px;
  margin-left: -15px;
}
.account-bread1 a{
  color: black !important;
  text-decoration: none;
}
.order-move {
  margin-bottom: 6px;
  width: 1070px;
  background-color: white;
  text-align: center;
}
.order-search{
  width: 1070px;
}
.order-list { 
  background-color: white;
  width: 1070px;
}
.order-none {
  background-color: white;
  width: 1070px;
  height: 300px;
  text-align: center;
}
